:root {
  --main-bg-color:#F7f4f3;
  --main-text-color:#5B2333;
}
  

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #ffffff;
  color: #000000;
  padding: 2rem;
}